.content {
    margin-top: 40px;
    
    
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: -100%;
    font-family: 'Exo', sans-serif;

    background-color: white;

  }

  select {
    font-family: 'Exo', sans-serif;
    color:whitesmoke;
    border:6px solid #ccc;
    background-color: rgba(44, 202, 110, 0.9);
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 50px;
  }

  h1 {
      color: red;
  }

  table {
      margin-top: 40px;
      line-height: 30px;
      
  }

  body {
      background-image: url(../images/tableImage.jpg);
  }

.imgClass {
  height: 200px;
  width: 150px;
  margin-top: 10px;
  border-radius: 10px;  
  border: 5px solid rgba(0, 0, 0, 0.342)
}

h2 {
  color: white;
  background: rgba(0, 0, 0, 0.473);
}



@media (max-width: 575.98px) { 
   tr{
     font-size: 11px;
  line-height: 13px;
  min-height: 10px;
  height: 15px;
  }
 }

